@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
	@variants dark {
		.header {
			background-image: url(https://wallpapercave.com/wp/wp7542081.jpg);
			background-size: 100% 100%;
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}

		.header-dark {
			background-image: url(https://wallpapercave.com/wp/wp7542097.jpg);
			background-size: 100% 100%;
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}
	}
}
