@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants dark {
        .dots-dark {
            background-image: radial-gradient(rgba(227,227,227,0.4) 1px,transparent 0), radial-gradient(rgba(227,227,227,0.4) 1px,transparent 0);

            background-position: 0 0,25px 25px;
            background-attachment: fixed;
            background-size: 50px 50px;
        }
        .dots {
            background-image: radial-gradient(rgba(227,227,227,1) 1px,transparent 0), radial-gradient(rgba(227,227,227,1) 1px,transparent 0);

            background-position: 0 0,25px 25px;
            background-attachment: fixed;
            background-size: 50px 50px;
        }
        .dark-select ::selection {
            background-color: #f81ce5;
            color: #fff;
        }
        .light-select ::selection {
            background-color: #79ffe1;
            color: #000;
        }
    }
}
